#membership{
}
#membership-extra{
  background-color: var(--background-dark);
}

a.membership-but {
  display: inline-block;
  background-color: var(--red);
  border-radius: 0.5em;
  text-align: center;
  padding: 0.5em 2em;
  margin: 1em 0;
  color: #f2f2f2;
  font-weight: 400;
  text-decoration: none;
}

a.membership-but.half {
  background-color: var(--dark-blue);
}

a.membership-but.gold {
  background-color: var(--yellow);

}

#membership-card{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-areas:
             ". p p p p i i i i i i .";
  place-items: center;
}

.membership-card-img-box {
  grid-area: p;
}

.membership-card-img-box img {
  /* border-radius: 50%; */
}

.membership-card-info-box {
  grid-area: i;
  margin: 3rem 3rem 3rem 1rem;
  align-self: center;
}


  @media (max-width: 800px) {
    #membership-card {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            ". . p p p p p p p p . ."
            " i i i i i i i i i i i i";
        align-content: center;
        margin: 0;
        padding: 3em 0em 0em 0em;
        }
        .membership-card-info-box{
          margin: 0;
          padding: 1.5em 0;
        }
        #membership{
          margin: 0;
          padding:0;
        }
    }

/* @media (max-width: 500px) {
  #membership {
    grid-template-columns: repeat(1fr);
    grid-template-areas:
    "description",
    "extra",
    "photo";
    gap: 1em;
  }
} */


